@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #202C39;
    font-family: 'Roboto', sans-serif;
}

body p {
    color: white;
}

.game-window {
    display: flex;
    width: 100vw;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.game-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-outcome {
    min-height: 4em;
    font-size: 4em;
}

.score > p {
    font-size: 3em;
}

.computer-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8em;
}

.computer-selection > p {
    font-size: 3em;
    max-height: 3em;
}

.round-outcome-text > p {
    min-height: 2em;
    font-size: 2em;
}

.btn {
    visibility: hidden;
}

.btn, .btn2 {
    font-size: 5em;
    border-radius: 10%;
    height: 10rem;
    width: 13rem;
    background-color: #b7d1da17;
    border: none;
    cursor: pointer;
}

.btn2 {
    background-color: transparent;
    pointer-events: none;
}

.play-btn {
    background-color: #b7d1da17;
    border: none;
    border-radius: 10%;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 3em;
    color: white;
}

.btn > span {
    display: inline-block;
    transition: all .2s ease-in-out;
}

.wiggle {
    animation: wiggle 1.5s 0s;
}

.btn > span:hover {
    transform: scale(1.4);
}

.btn:hover, .play-btn:hover {
    background-color :#283845;
}



@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    100% { transform: rotate(0deg); }
}

