body {
    background-color: #202C39;
}

body p {
    color: white;
}

.game-window {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.game-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.game-outcome > p {
    font-size: 4em;
}

.score > p {
    font-size: 3em;
}

.round-outcome > p {
    font-size: 3em;
}

.btn {
    font-size: 5em;
    border-radius: 10%;
    height: 10rem;
    width: 13rem;
    background-color: #B7D1DA;
    border: none;
}

.btn:hover {
    background-color :#283845
}